<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>You want to delete a List</h2>
    <form method="POST" action="/listings/<%=deleteList._id%>?_method=DELETE">
    <div>
        <p><%=deleteList.title%></p>
        <p><%=deleteList.description%></p>
        <p><%=deleteList.image%></p>
        <p><%=deleteList.price%></p>
        <p><%=deleteList.location%></p>
        <p><%=deleteList.country%></p>
    </div>
    <button>CONFIRM DELETE</button>
</form>
</body>
</html>