<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Edit Your List</h2>
    <form method="POST" action="/listings/<%=editList._id%>?_method=PATCH">
        <input name="title" type="text" value="<%=editList.title%>">
        <br>

        <textarea  name="description" rows="05" cols="50" ><%=editList.description%></textarea> 
        <br>

        <textarea  name="image" rows="03" cols="100" ><%=editList.image%></textarea> 
        <br>

        <input name="price" type="Number" value="<%=editList.price%>">
        <br>

        <input name="location" type="text" value="<%=editList.location%>">
        <br>

        <input name="country" type="text" value="<%=editList.country%>">
        <br>
        <Button>Update List</Button>
    </form>
</body>
</html>