<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
</head>
<body>
    <div>
        <h1>Listing Deatails : </h1>
        <ul>
        <li><%=selectedListing.title%></li>
        <li><%=selectedListing.description%></li>
        <li>&#8377;<%=selectedListing.price.toLocaleString("en-IN")%></li>
        <li><%=selectedListing.location%></li>
        <li><%=selectedListing.country%></li>
    </ul>

    <button><a href="http://localhost:8080/listings/<%=selectedListing._id%>/edit">Edit This List</a> </button>
    <br>
    <br>
    <button><a href="http://localhost:8080/listings/<%=selectedListing._id%>/delete">Delete List</a> </button>
    </div>
</body>
</html>